@import "../../index.scss";

.header {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid $primaryColor;
  padding: 0 2rem;
}
.logo {
  align-self: center;
  height: 7rem;
  flex: 2;
  width: 8rem;
}
.title {
  flex: 8;
  align-self: center;
  text-align: center;
}
