.card {
  width: 65vw;
  min-height: 100vh;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
